.barra {
    background-color: #FFFFFF;
    width: 360px;
    height: 33px;
    padding: 10px 16px;
    display: flex;
    flex-direction: row;;
    justify-content: space-between;
    align-items: center;
}

.time {
    width: 36px;
    height: 22px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
}

.icons_barra {
    display: flex;
    width: 66px;
    height: 13px;
    justify-content: space-between;
    align-items: flex-end;
    
}